<!DOCTYPE html>
<html lang="el">
	<head>
		<meta charset="utf-8" />
		<title><%= title %> | <%= domain %></title>
		<meta name="description" content="<%= description %>">

		<!-- Google Tag Manager -->
		<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl{%tokens.googleTagManagerEnvSnippetHEAD%};f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','{%tokens.googleTagManagerCode%}');</script> -->
		<!-- End Google Tag Manager -->

		<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
		<meta name="author" content="<%= author %>">
		<meta name="keywords" content="<%= keywords %>">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="<%= robots %>">
		<meta name="theme-color" content="<%= theme %>" />

		<base href="<%= url %>">

		<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="manifest" href="/manifest.json">
		<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/vendor/tippy/tippy.min.css">
		<link rel="stylesheet" href="/stylesheets/bundle.css">

		<meta property="og:title" content="<%= title %> | <%= domain %>">
		<meta property="og:type" content="website">
		<meta property="og:url" content="<%= url %>">
		<meta property="og:description" content="<%= description %>">
	</head>
	<body class="el" data-page="home">
		<div id="home">
			<header class="cmp header">
				<div data-module="menu"></div>
			</header>
			<!-- Actual application runs here -->
			<div class="app"></div>
			<footer class="cmp footer" data-module="footer">
				<div class="content-wrapper">
					<div class="contact-information">
						<ul>
							<li class="phone">
								<i class="icon fa fa-fw fa-phone"></i>
								<p data-item><%= contact.phone %></p>
							</li>
							<li class="email">
									<i class="icon fa fa-fw fa-envelope"></i>
									<p><a href="mailto:<%= contact.email %>" data-item><%= contact.email %></a></p>
							</li>
							<li class="address">
								<i class="icon fa fa-fw fa-map-marker"></i>
								<p data-item><%= contact.address %></p>
							</li>
						</ul>
					</div>
					<p class="copyright">&copy; 2018 <%= domain %></p>
				</div>
			</footer>
		</div>
		<script src="scripts/bundle.js"></script>
	</body>
</html>
